langchain_openai
pydantic
uvicorn
python-dotenv
requests
pytz
python-telegram-bot
gspread
oauth2client
supabase
pydantic-core
ruff
flask[async]
asgiref
redis
pywa[async]
aiohttp
aiofiles
httpx
watchtower>=3.0.1
boto3>=1.34.0